<div class="container">
  <h1>New Contact</h1>
  <form method="POST" action="/contacts">
    <label for="contact_first_name">Contact First Name</label>
    <input type="text" name="contact[first_name]" id="contact_first_name">
    <input type="submit">
  </form>
</div>

